---
const { projectUrl , projectName , projectDescription , projectLogo , projectId } = Astro.props
---

<div id={projectId} p-6 aspect-ratio-square un-flex flex-col un-rounded-2xl class="bg-[#FCFCFC] dark:bg-[#111111]">
    <img src={projectLogo} alt={projectName} w-32px h-32px sm:w-36px sm:h-36px>
    <a href={projectUrl} target="_blank" rel="noopener noreferrer" pt-4 text-lg class="text-[#202020] dark:text-[#EEEEEE]" hover:text-blue>{projectName}</a>
    <p pt-2 text-sm line-clamp-2>{projectDescription}</p>
</div>